[submodule "pid"]
	path = pid
	url = https://github.com/catie-aq/6tron_pid
	branch = master
[submodule "odometry"]
	path = odometry
	url = https://github.com/catie-aq/6tron_odometry
	branch = main
[submodule "mobile-base"]
	path = mobile-base
	url = https://github.com/catie-aq/6tron_mobile-base
