[submodule "pid"]
	path = pid
	url = git@github.com:catie-aq/6tron_pid.git
	branch = master
[submodule "odometry"]
	path = odometry
	url = git@github.com:catie-aq/6tron_odometry.git
	branch = main
[submodule "mobile-base"]
	path = mobile-base
	url = https://github.com/catie-aq/6tron_mobile-base
